html{scroll-behavior: smooth;}
body{font-family: open sans; overflow-x: hidden;}
*{padding: 0vw; margin: 0vw; }
*{box-sizing: border-box; font-family: "Open sans";}





.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 10vw; top: 0; }

.se-pre-con 
{background-color: black; position: fixed; width: 100%; height: 100%; z-index: 9; display: flex; justify-content: center; align-items: center;}

.se-pre-con img 
{height: 10vw; width: 10vw; animation: load 1s linear;}

@keyframes load
{100%{transform: rotateY(360deg)}}

#particles-js2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}


/* width */
::-webkit-scrollbar 
{width: 1vw;}

/* Handle */
::-webkit-scrollbar-thumb 
{background: blue; border-radius: 1vw;}

/* Track */
::-webkit-scrollbar-track 
{border-radius: 1vw;}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{background:gray; }




#home
{position: relative; height: 100%; width: 100%;}

.nav
{position: fixed; z-index: 10; height: 100%; width: 18vw;  background-color: white; border-right: 0.05vw solid; }

.slider
{position: relative; height: 50vw; width: 82vw; display: flex; align-items: center; background-color:blanchedalmond; left:18vw; overflow: hidden;}

.nav h1
{margin-top: 1vw; text-align: center; font-family: 'Philosopher', sans-serif; font-weight:bolder; font-size: 2vw;}

.nav h1::first-letter
{font-size:3vw;}

.nav li 
{height: 2.5vw; width: 10vw; text-decoration: none; font-size: 1vw; margin: 2vw; text-align: center; padding-top: 0.80vw;  box-shadow: 0.4vw 0.4vw 1vw blue; margin-left: 3.5vw; transition: transform 0.5s linear;color: #551A9D; transform:skew(20deg); z-index: 5;}

.nav ul
{overflow-y: hidden; z-index: 5;}

.nav li:hover
{transform: skew(-20deg); font-weight: 300; background-color: red; color: white;z-index: 5;}

.nav a 
{text-decoration: none; list-style: none;z-index: 10;  }

.nav .pic1
{position: absolute; margin-left: 2.5vw; margin-top: 3vw; height: 10vw; width: 13vw; transition: transform 1s;}

.nav .pic2
{position: absolute; margin-left: 2.5vw; margin-top: 15vw; height: 4.5vw; width: 13vw; transition: transform 1s;}

.nav img:hover
{transform: scale(1.1); opacity: 5;}

.slider::after 
{position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; content: ''; display: block; height: 1vw;}

.slide-switch 
{display: none;}

img 
{width: 81vw; height:50vw; opacity: 5; }

.slide-label 
{position: absolute; bottom: 3vw;  z-index: 5; margin-left: 40vw; height: 1vw; width: 1vw; text-indent: 1vw; overflow: hidden; background: white; border-radius: 5vw; cursor: pointer; transition: all 0.25s linear; border: 0.05vw solid;}

.slide-label:hover
{background: blue}
 
.slide-label:nth-of-type(1) 
{left: 0.5vw;}

.slide-label:nth-of-type(2) 
{left: 2vw;}

.slide-label:nth-of-type(3) 
{left: 3.5vw;}

.slide-content 
{width: 60vw;  margin-right: -60vw; }

.slide-switch:checked + .slide-label 
{background:skyblue;}

.slide-switch:not(:checked) + .slide-label + .slide-content 
{opacity: 0; transition: opacity 0.35s; pointer-events: none;}

.slide-switch:checked + .slide-label + .slide-content 
{animation: slide 1s;}

@keyframes slide 
{
  0%{transform: translateX(100%);}
  100%{transform: translateX(0);}
}









#menu-list
{position: relative; height: 60vw; width: 82%; background-color:white; left:18vw; }

#menu-list h1
{position: absolute; left: 33vw; top: 2vw; font-family: 'Philosopher', sans-serif; font-size: 2.5vw; color: #551A9D;}

.tabs
{position: relative; height: 50vw; width: 100%; top: 8vw;  overflow:hidden; display: flex; justify-content: center;}

.tab
{float: left;}

.tab-label
{position: relative; display: block; line-height: 2.75vw; padding:0 1.5vw; background-color: white; cursor: pointer; color: #551A9D;
box-shadow: 0vw 0.2vw 0.8vw black; font-size: 1vw; }

.tab-switch
{display: none;}

.tab-switch:checked + label + .tab-content
{z-index: 2; opacity: 1; transition: all 0.35s; left: 0;}

.tab-switch:checked + .tab-label
{background: red; color: white; border-bottom: 0; top: -0.0625vw;}

.tab-label
{height: 3vw; transition: top 0.25s;}

.tab-content
{color: #2c3e50; z-index: 1; opacity: 0; position: absolute;  height: 50vw; background-color:white; width: 100vw;}

.tab-content h2
{position: absolute; left: 11vw; top: 2vw;  font-family: 'Philosopher', sans-serif; font-size: 1.5vw;}

.tab-content img
{width: 21vw; height: 16vw; margin: 2vw; margin-left: 4vw; margin-top: 5vw; transition: transform 1s; border: 0.080vw solid black;
box-shadow: 0.2vw 0.2vw 2vw black; border-radius: .50vw; opacity: 1; padding: 0;}

.tab-content img:hover
{transform: scale(1.3);}







#offer
{position: relative; height: 53vw; width: 82vw; display:flex; left:18vw; background-color: white;  border-top: 0.08vw solid rgba(0,0,0,0.5);}


a.fade_in_bg
    {text-decoration: none; border-bottom: 0.0625vw dotted #3498db; padding-right: 0.25vw; padding-left: 0.25vw; 
    padding-bottom: 0.25em; transition: all .35s;}

a.fade_in_bg:hover
    {background: #3498db; color: #fff; transition: all .35s;}

a[class^="slide"]
    {text-decoration: none; line-height: 1.8vw;  border-bottom: 0.0625vw dotted #3498db; position: relative;  }

a[class^="slide"]::after
    {content: attr(data-linktext); background: #3498db; color: #fff; position: absolute;  height: 1.5vw; text-align: center;}

a.slide_from_left::after
    {top: 0; right: 100%; visibility: hidden; left: -100%; transition: all 0.35s;}

a[class^="slide"]:hover::after
    {left: -200px; right: 0; top: 0; bottom: 0; visibility: visible; transition: all .35s;}


#offer h1
{margin-top: 3vw; font-family: 'Philosopher', sans-serif; font-size: 1.8vw; margin-left: 45%; color: #551A9D;}

.swing
{margin-left: 18vw; animation: swing ease-in-out 1s infinite alternate; transform-origin: center -0.20vw; height: 12.5vw; width: 12.5vw; margin-top: 10vw; overflow: hidden; box-shadow: 0.2vw 0.2vw 3vw green;}

.swing img
{border: 0.1vw solid #f8f8f8; height: 12.5vw; width: 12.5vw;  }

.sec_swing
{position: absolute; top: 22vw; left: -10vw;}

@keyframes swing
{
0%{transform: rotate(30deg);} 
100%{transform: rotate(-30deg);}
}

.swing:before
{content: ''; position: absolute; width: 0.5vw; height: 0.5vw; top: -0.14vw; left: 54%; border-radius: 50%; background: #000;}

.swing:after
{content: ''; position: absolute; width: 1vw; height: 1vw; top: -0.10vw; left: 50%; border-right:none; 
border-bottom:none; transform: rotate(45deg); border: 0.10vw solid #999;}

.student 
{position: absolute; border-right: 0.08vw solid; height: 20vw; width: 50vw; top: 6vw; left: 3vw; overflow: hidden;}

.two
{position: absolute; border-left: 0.08vw solid; border-right: none; height: 20vw; width: 50vw; top: 27vw; left: 30vw;}

.student h1
{position: absolute; left: -21.5vw; top: -2vw; animation: h 1s ease-out;}

@keyframes h
{
0%{transform: translateX(300px); opacity: 0;}
100%{transform: translateX(0px); opacity: 1;}
}

.student img
{position: absolute; height: 6vw; width: 20vw; top: 4vw; left: 1vw;}

.student p
{position: absolute; top: 10vw; padding: 0.8vw; line-height: 1.8vw; text-indent: 10vw;  font-size: 1.2vw; animation: p 1s linear; }


@keyframes p
{
0%{transform: translateY(30px); opacity: 0; }
100%{transform: translateY(0px); opacity: 1;}
}






#paralex 
{position: relative; width: 82%; left:18%; height: 45vw;  display: flex;  
background-image:url(Images/candle-light-dinner-at-restaurant_vkbc5xhzx__F0000.png); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; } 

#paralex p
{margin-top: 20vw; margin-left: 17vw; text-align: center; font-family: Bookman Old Style; font-size: 1.1vw; color: white;  }

#paralex p::first-letter
{font-size: 3vw;}

#paralex button
{width: 10vw; height: 2vw; background: #3498db; color: #fff; position: relative; z-index: 1;  text-transform: uppercase; top: 27vw; left: -30vw; font-size: 1vw; border: 0.09vw solid #3498db;  }

#paralex button::after
{content: ''; background: black; position: absolute; z-index: -1; padding: 0.85vw 0.75vw; display: block; outline: none;}

#paralex button.grow_box::after
{top: 0; left: 0; right: 0; bottom: 0; transform: scale(0,0); transition: .60s;}

#paralex button.grow_box:hover::after
{transform: scale(1,1);}







#deals
{position: relative; height: 70vw; width: 82%; display:flex; left:18vw;  background-color: white; z-index: 5; }

#deals h1
{margin-top: 2vw; font-family: 'Philosopher', sans-serif; font-size: 2vw; margin-left: 45%; position: absolute; color: #551A9D;}


.wrapper 
{width: 50%; margin: 1vw auto; text-align: center; z-index: -1; position: absolute; margin-top: 10vw; left: 0vw;}

.rotate 
{display: none;}

.rotate-label 
{display: inline-block; margin-left: 0.10vw; background: white; color: black;  padding: 0.50vw 0.50vw; cursor: pointer;
transition: all 0.25s; box-shadow: 0.2vw 0.2vw 0.5vw black; border-radius: 0.20vw 0.10vw; border: 0.09vw solid; font-size: 1vw;}

.rotate-label:hover
{background-color: black; color: white}

.rotate:checked + .rotate-label 
{background: white; color: black; border: 0.01vw solid;}

.perspective 
{position: relative; z-index: -1; perspective: 2000px; perspective-origin: 25rem -150px;}

.cube 
{position: relative; width: 25vw; margin: 5rem auto; transform-style: preserve-3d; transition: all 0.5s;}

.cube div 
{position: absolute; width: 25vw; height: 25vw; opacity: 10;}

.cube img 
{max-height: 100%; max-width: 100%;}

#rotate:checked ~ .perspective > .cube 
{animation: rotate 15s infinite linear;}

#front:checked ~ .perspective > .cube 
{transform: rotateX(0deg) rotateY(0deg); animation: none;}

#left:checked ~ .perspective > .cube 
{transform: rotateX(0deg) rotateY(90deg); animation: none;}

#back:checked ~ .perspective > .cube 
{transform: rotateX(0deg) rotateY(180deg); animation: none;}

#right:checked ~ .perspective > .cube 
{transform: rotateX(0deg) rotateY(270deg); animation: none;}

#top:checked ~ .perspective > .cube 
{transform: rotateX(-90deg) rotateY(0) translateZ(200px) translateY(-200px); animation: none;}

#bottom:checked ~ .perspective > .cube 
{transform: rotateX(90deg) rotateY(0) translateZ(-200px) translateY(-200px); animation: none;}

.front 
{transform: translateZ(200px);}

.back 
{transform: translateZ(-200px) rotateY(180deg);}

.left 
{transform: rotateY(270deg) translateX(-200px);transform-origin: center left;}

.right 
{transform: rotateY(-270deg) translateX(200px); transform-origin: top right;}

.top 
{transform: rotateX(90deg) translateY(-200px);transform-origin: top center;}

.bottom 
{transform: rotateX(-90deg) translateY(200px); transform-origin: bottom center;}

@keyframes rotate 
{
from {transform: rotateY(0deg);}    
to {transform: rotateY(360deg);}
}

.deals-image
{position: relative; height: 30vw; width: 50%; left: 40vw; top: 10vw;}

.deals-image img
{height: 12vw; width: 40%;transition: transform 1s; border: 0.01vw solid; margin-top: 6vw; margin-left: 3vw; box-shadow:  0.5vw 0.5vw 0.5vw black;}

.deals-image2    
{position: absolute; height: 20vw; width: 100%; top: 55vw;}

.deals-image2 img
{height: 12vw; width: 20%; border: 0.01vw solid; margin-left: 3vw; transition: transform 1s; box-shadow:  0.5vw 0.5vw 0.5vw black; }

.deals-image img:hover,.deals-image2 img:hover 
{transform: scale(1.15);}










#booking 
{position: relative; height: 50vw; width: 82%; display:flex; left:18%; background-color: white; border-top: 0.1vw solid rgba(0,0,0,0.5);
display: flex; justify-content: center;}

#booking h1
{position: absolute; left: 35vw; top: 1.5vw; color: blue; font-family: 'Philosopher', sans-serif; font-size: 2vw;}

.calender
{position: relative; height: 10vw; width: 40vw; top: 6vw; left: 1vw; }

.calender .head_h1
{position: relative; height: 3.5vw; width: 40vw; background-color: black; top: -0.5vw; }

.calender .head_h1 #cock
{font-family: 'Philosopher', sans-serif; font-size: 1.5vw; position: absolute; top: 0.8vw; left: 14vw; color: white}


.calender li
{display: inline-block; height: 3vw; width: 5.5vw; text-align:center; padding-top: 0.70vw;    border: 0.09vw solid; cursor: default; font-size: 1vw;}

.calender li:hover
{background-color: red;}


.floor_booking
{position: absolute; height: 20.5vw; width: 18%; top: 7vw; left: 4vw; background-color: white}

.floor_booking li
{display: block; text-align: center; padding: 1.45vw 0vw;  border: 0.09vw solid black; cursor: default; transition: transform 2s linear; font-size: 1vw;}

.floor_booking li:hover
{background-color: red;}


.Upcoming_events
{position: absolute; height: 20.5vw; width: 18%; top: 7vw; border: 0.09px solid; left: 65vw; overflow: hidden; background-color: white}

.Upcoming_events li
{display: block; text-align: center; padding: 1.1vw 0vw; color: blue; cursor: pointer; animation: events 8s infinite linear; color: black; font-size: 1vw; }

.Upcoming_events li:hover
{text-decoration: underline;}

@keyframes events
{
    0% {transform: translateY(-250px)}    
    10%{transform: translateY(0px);}
}








#aboutus
{position: relative; height: 52vw; width: 82vw; left:18vw;  border-top: 0.09vw SOLID black; overflow: hidden; }

#aboutus h1
{position: absolute; font-size: 2vw; left: 38vw; margin-top: 2vw; color: white; font-family: 'Philosopher', sans-serif; z-index: 1;}

#aboutus .backdrop
{position: absolute; top: 0;left: 0; height: 100%; width: 100vw; overflow: hidden; background-image: linear-gradient(#000000, rgba(25,53,93,1) 90%, rgba(25,53,93,1))}
    
#aboutus .stage_floor
{content: ''; position: absolute; top: 10%; left: 0; right:0;
height: 150%; background-image: radial-gradient( rgba(54,90,143,0.9), rgba(54,90,143,0)); transform: scale(1.0,0.3); }
    
#aboutus .stage_highlight
{position: absolute; top: 0; left: 25vh; width: 100vh; height: 100%; overflow: hidden; background-image: radial-gradient(ellipse closest-side at 50% 82%, rgb(84,120,173), rgba(84,120,173,0) 100%); animation: move_hightlight 5s linear infinte; }
    
#aboutus .spotlight_swivel
{animation: rotate 5s linear infinite;}

#aboutus .lamp
{position: absolute; width: 40vh; height: 400vh;  background-image: radial-gradient(ellipse, rgba(82,116,168,0.5), rgba(82,116,168,0.2) 25% ,rgba(82,116,168,0) 50%); top: -220vh; left: 65vh; transform: perspective(23vh) rotateX(30deg);}
    
#aboutus .soptlight
{opacity: 0.5; transform: scale(1.5,3);position: absolute;top: -20vh; left: calc(50%-75vh); }
    
#aboutus .spotlight::after
{content: ''; position: absolute; left: 35vh; top: -50vh; background-image: radial-gradient(ellipse closest-corner at 75% 75%, rgba(55,89,138,0.2), rgba(55,89,138,0)); border-radius: 100%;width: 100vh; height: 100vh; clip: rect(50vh, 100vh, 100vh, 50vh); transform: rotate(45deg);}


@keyframes move_hightlight
{
      0%{transform:  translateX(0);}
     10%{transform:  translateX(25vh);}
     20%{transform:  translateX(0);}
     30%{transform:  translateX(-25vh);} 
}

#paragraph
{height: 25vw ; width: 100%;background-color: transparent; position: relative; top: 35vw;}

#paragraph h1
{position: absolute; left: 5vw; top: -4vw; font-size: 1.5vw;}

#paragraph h1::first-letter 
{font-size: 3vw;}

#paragraph p
{color: white; position: absolute; top: 2vw; text-indent: 5vw; width: 30vw; left: 5vw; line-height: 1.2vw;  text-align: justify; font-size: 1vw; }






#contact
{position: relative; height: 50vw; width: 82vw; left:18vw;  background-color: white;}

#contact h1
{position: absolute; font-size: 2vw; left: 35vw; margin-top: 3vw; color: #551A9D; font-family: 'Philosopher', sans-serif;}
    
#contact .pp
{position:absolute; top:6vw; left:26vw; width:40ch; animation: type 3s steps(40) infinite; overflow:hidden; white-space: nowrap; border-right:0.2vw solid; font-size: 1.5vw; color:#551A9D }

@keyframes type
{from {width: 0ch;} to{width: 40ch;}}

#map
{position: absolute; right: 3vw; top: 12.5vw; height: 32.5vw; width: 35vw; background-color: white; background-image: url(Images/map.jpg); background-size: cover; background-repeat: no-repeat; border-radius: 2vw; }
    
#form_section
{position: absolute; left: 3vw; top: 12.5vw; height: 32.5vw; width: 37vw; background-color: lightgray; border-radius: 1vw;}
    
#form_section h2
{position: absolute; top: 2vw; left: 15vw; color:#551A9D; font-size: 1.5vw;font-family: 'Philosopher', sans-serif;}
        
#form_section input
{position: absolute; border: 0.2vw inset darkbrown;  }
    
.label1
{position: absolute; left: 3vw; top: 6.2vw; font-size: 1.3vw; color: black; }

.label2
{position: absolute; right: 7.5vw; top: 6.2vw; font-size: 1.3vw;  color: black;}

.label3
{position: absolute; left: 3vw; top: 12.1vw; font-size: 1.3vw; color: black; }
    
.label4
{position: absolute; left: 3vw; top: 17.8vw; font-size: 1.3vw; color: black;}

#form_section button
{position: absolute; width: 9vw; height: 2.8vw; left: 13.8vw; top:29vw; background-color: skyblue; font-size: 1.2vw; text-align: center;  outline: none; padding: 0px 0.10vw;}
    
#form_section button:hover
{background-color: red;}

.modal
{position: absolute; width: 0; height: 0; overflow: hidden; background: transparent;}

.modal:target
{background:rgba(0,0,0,0.75); position: absolute; width: 100%; height: 50%; top:100px; right:0; bottom:0; left:360px; transition: all 0.35s; }

.modal:target .content
{background: #fff; border-radius: 0.5rem; width: 10rem;  position: absolute; top: 0%; left:-300px; }

#contact .ppp
{position:absolute; top:40px; left:405px; width:33ch; font-size: 22px; color: white; text-align: center; font-family: 'Philosopher', sans-serif; line-height: 40px;}

.ppp::first-letter
{font-size: 50px; }

.modal:target .close
{position: absolute; top: -1rem; right: -1rem;}

.modal:target .close a
{display: inline-block; height: 2rem; width: 2rem; position: relative; left: 725px; top: 30px; overflow: hidden; background:black; border: 0.125rem solid #fff;}

.modal:target .close:after
{content: 'X'; font-weight: 800; color: #fff; position: absolute; left: 725px; top: 30px; height: 2rem; line-height: 2rem; width: 2rem;
text-align: center; pointer-events: none; position: absolute;}

#infopanel
{position: fixed; height: 15rem; width: 39rem;  left: 620px; animation: info 3s ease-out; border-radius:20px; z-index: 10; background-color: black;}

#infopanel img 
{height: 100px; width: 100px; position: absolute; left: 30px; top: 90px;}

@keyframes info
{0%{transform:scale(0.5);}}






#foot
{position: relative;  height: 15.5vw; width: 82vw; left: 18vw; background-color: black; border-top: 0.09vw solid; bottom: 0vw; }  
    
#foot .qwe
{margin: 3vw 7vw; padding: 3vw 0vw 0vw 4vw; line-height: 3vw; list-style: none; margin-left: 0vw; margin-top: -0.30vw;}  
    
#foot a
{text-decoration: none; color:white;  font-size: 1.5vw;}  
    
#foot ul+ul
{position: absolute; line-height: 350%; list-style: none; float: left; text-align: center; left: -50%; right: 20%;margin: auto; width: 50%; 
height: 78%; top: 16%; display: block; font-family: 'Philosopher', sans-serif;; font-weight:600; font-size: 1vw; }

#foot ul+ul > li 
{color: white;}

#foot h1
{position: absolute; left: 45%; top: 10%; color: white; font-family: 'Philosopher', sans-serif; font-size: 1.5vw; animation: moving 4s infinite;}

@keyframes moving
{100%{transform: rotatey(360deg)}}
    
#footer ul
{position: absolute; left: 77%; top: 18%; padding: 0vw 25% 0vw 15%; line-height: 3vw; list-style: none;}  
    
#footer ul li
{padding-left:6%; font-size: 1.5vw; }  
    
#footer a:hover
{color: goldenrod;}  
    
#footer p
{position: absolute; text-align: center; color: white; font-size: 1vw; left: 10vw; bottom: 5vw; right: 2vw; top: 7vw; font-family: 'Philosopher', sans-serif;}  

.tooltip
{position: absolute; height: 2vw; width: 10vw; visibility: hidden; opacity: 0; transition: all ease-out 0.5s; font-size: 1vw; text-align: center; background: white; color: black; border-radius: 0.5vw; line-height: 2vw; margin-top: 0.50vw;}

.k:hover .tooltip
{visibility: visible; opacity: 1; margin-left: -12vw;}

